@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}

@{
    <a asp-area="Superuser" asp-controller="Administrator" asp-action="EditAdministrators">Administrator Home</a>
}
<a  asp-area="Superuser" asp-controller="Administrator" asp-action="EditAdministrators">All Administrators</a>