
<footer class="border-top ">
    <div class="container">
        &copy; Abinet 2023 <a href="http://13.95.67.255:8069/"><img src="~/images/logoabinet.png" height="20px" alt="abinet" /></a> - <a style="text-decoration: none;" href="/home/privacy">privacy</a>

    </div>
</footer>
