@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />
<h4>This website was made in collaboration with VIVES hogeschool.</h4>
<br />
<div style="display: inline-flex;">
    <a href="https://www.zuyd.nl/"><img src="~/images/logozuyd.png" height="150px" /></a>
    <a href="https://www.vives.be/nl"><img src="~/images/logoVIVES.png" height="150px" /></a>
</div>
