
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}

<h1>Accounts</h1>
<hr/>
<ul>
    <li class="nav-item">
        <a class="listItem" asp-area="Superuser" asp-controller="Administrator" asp-action="EditAdministrators">All Administrators</a>
    </li>
</ul>


