@{
    ViewData["Title"] = "Superuser Home";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}

<h1>Superuser Homepage</h1>
<br />
<h3>Choose where to go</h3>
<ul>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
</ul>