@page
@model LoginModel
@{
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";

    ViewData["Title"] = "Log in";
}

<head>
    <title>Login</title>
    <link rel="stylesheet" href="~/css/login.css" />
</head>


<div class="gen-container">
    <div class="logo-container">
        <img src="~/images/LogoVIVES.png" alt="logo vives" height="100px">
        <img src="~/images/LogoZUYD.png" alt="logo zuyd" height="100px">
    </div>
    <div class="login-container">
        <h1>Login</h1>
        <p>for administrators</p>
    </div>
    <div class="form-container">
        <div class="card">
            <section>
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email" class="form-label">Username / E-mail</label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password" class="form-label"></label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <br />
                    <div id="login-button">
                        <button id="login-submit" type="submit" class="btn btn-lg btn-primary">Login</button>
                    </div>
                    <div id="forgot-password">
                        <p>
                            <a asp-page="./ForgotPassword">Forgot password</a>
                        </p>
                    </div>

                </form>
            </section>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
